@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  margin-top: 15px;
}

body {
  font-family: "Lato", "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#calculator-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 12px;
  height: 550px;
  width: 350px;
  margin: 50px 0;
  padding-top: 15px;
}

#display {
  background-color: white;
  margin: 25px 0;
  border: 2px solid black;
  border-radius: 4px;
  width: 285px;
  min-height: 100px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

#display-operation,
#display-answer {
  margin-right: 5px;
}

#display-operation {
  font-size: 20px;
  min-height: 25px;
  margin-top: 5px;
}

#display-answer {
  font-size: 30px;
  min-height: 50px;
  margin-bottom: 5px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  margin-bottom: 20px;
}

.btn {
  padding: 15px 13px;
  font-size: 19px;
}

.footer {
  margin-bottom: 15px;
}

.operator,
#equal {
  background-color: rgb(231, 231, 231);
}

#equal {
  grid-column: span 2;
}

.operator:focus {
  background-color: lightgrey;
}
